<footer>
    <div class="follow">
      <h2>Seguinos</h2>
    </div>

    <div class="links">
      <a href="redes" class="instagram"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="redes" class="facebook"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a href="redes" class="twitter"><i class="fa-brands fa-twitter"></i></a>
      <a href="redes" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    <div class="job">
      <h4>Sumate a Nuestro Staff</h4>
    </div>
    <div class="copyright">
      <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
    </div>
  </footer>