<header>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbutton">
            <i class="fas fa-bars"></i>
        </label>

        <label class="toggle-btn">
            <i class="fas fa-bars" id="toggle-btn"></i>
        </label>

        <label class="logo"><a href="/">EntreCasa</a></label>




 
  <!--       <div class="logIcon">
            <a href="/users/login"> <i class="fa-regular fa-user"></i></a>
        </div>   -->


         <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Busc치 ac치...">
        </div>
         


        <ul>
            <% if(!locals.usuario){ %>

       <!--      <div class="logIcon">
                <a href="/users/login"> <i class="fa-regular fa-user"></i></a>
            </div>   -->

            <li><a href="/users/login">Iniciar sesion </a></li>
            <li><a href="/users/registro">Registrarse </a></li>

            <% }else{ %>
                <div class = "user-on-session">
                    <br>
                    <label class ="username" for="">Hola, <%= usuario.name %> !</label>
                    
        
                    <form  action="/users/logout" method="post">
                        <button class ="logout" type="submit">Cerrar sesion</button>
                      
                    </form>
                    
                    <a href="/carrito" class ="cart">
                        <i class="fa-solid fa-cart-shopping" ></i>
                    </a>

                    <a href="/users/profile" class ="profile">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    

                </div>
              <% } %> 
      

            <!-- <li>
                <div class="logIcon-sidebar">
                    <a href="/users/login"> <i class="fa-regular fa-user"></i></a>
                </div>
            </li>

             <li>
                <div class="search-box-sidebar">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Busc치 ac치...">
                </div>
            </li>  -->

        </ul>

    </nav>

    <div id="sidebar">
        <div class="xMark">
            <span id="xMark">&#10005</span>
        </div>

        <div>
            <a href="/products/list">
                <h3>Todos los productos</h3>
            </a>
        </div>
        <br>

        <ul>
            <h3>Hombres</h3>
            <li>pants</li>
            <li>remeras</li>
            <li>camperas</li>
            <li>accesorios</li>
        </ul>
        <br>
        <ul>
            <h3>Mujeres</h3>
            <li>pants</li>
            <li>remeras</li>
            <li>camperas</li>
            <li>accesorios</li>

        </ul>






    </div>

    <script src="/js/menu.js"></script>


</header>