<header>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbutton">
            <i class="fas fa-bars"></i>
        </label>

        <label class="toggle-btn">
            <i class="fas fa-bars" id="toggle-btn"></i>
        </label>

        <label class="logo"><a href="/">EntreCasa</a></label>
        <ul>
          
            <li><a href="/login">Mi cuenta</a></li>
            <li><a href="/registro">Registrate</a></li>
            <li><a href="/carrito">Mis Compras</a></li>

        </ul>

    </nav>

    <div id="sidebar">
        <div class="xMark">
            <span id="xMark">&#10005</span>
        </div>

        <div>
            <a href="/products/list"><h3>Todos los productos</h3></a>
        </div>
        <br>

        <ul>
            <h3>Hombres</h3>
            <li>pants</li>
            <li>remeras</li>
            <li>camperas</li>
            <li>accesorios</li>
        </ul>
        <br>
        <ul>
            <h3>Mujeres</h3>
            <li>pants</li>
            <li>remeras</li>
            <li>camperas</li>
            <li>accesorios</li>
        </ul>
    </div>

    <script src="/js/menu.js"></script>


</header>