<header>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbutton">
            <i class="fas fa-bars"></i>
        </label>

        <label class="toggle-btn">
            <i class="fas fa-bars" id="toggle-btn"></i>
        </label>

        <label class="logo"><a href="/">EntreCasa</a></label>



        <ul class >
            <% if(!locals.usuario){ %>              

                <li>
                    <form class="form-search" action="/products/search" method="GET">
                        <input type="text" class="input-search" name="product" placeholder="Buscá productos">                        
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </form>
                </li> 

                <li><a href="/users/login">Iniciar sesion </a></li>
                <li><a href="/users/registro">Registrarse </a></li>

                <% }else{ %>
                    <div class="user-on-session">
                        <br>
                        <label class="username" for="">Hola, <%= usuario.name %> !</label>


                        <form action="/users/logout" method="post">
                            <button class="logout" type="submit">Cerrar sesion</button>

                        </form>

                        <a href="/carrito" class="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>

                        <a href="/users/profile/<%= usuario.id %>" class="profile">
                            <i class="fa-solid fa-user"></i>
                        </a>
       
                    </div>

                    <form class="form-search-sesion" action="/products/search" method="GET">
                        <input type="text" class="input-search" name="product" placeholder="Buscá productos">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    <% } %>




        </ul>

    </nav>


    <div id="sidebar">
        <div class="xMark">
            <span id="xMark">&#10005</span>
        </div>

        <div>
            <a href="/products/list">
                <h3>Todos los productos</h3>
            </a>
        </div>
        <br>

        <ul>
            <h3>Hombres</h3>
            <a href="/products/search?product=pant"><li>pants</li></a>
            <a href="/products/search?product=remera"><li>remeras</li></a>
            <a href="/products/search?product=campera"><li>camperas</li></a>
            <a href="/products/search?product=accesorio"><li>accesorios</li></a>
        </ul>
        <br>
        <ul>
            <h3>Mujeres</h3>
            <a href="/products/search?product=pant"><li>pants</li></a>
            <a href="/products/search?product=remera"><li>remeras</li></a></a>
            <a href="/products/search?product=campera"><li>camperas</li></a>
            <a href="/products/search?product=accesorio"><li>accesorios</li></a>

        </ul>






    </div>

    <script src="/js/menu.js"></script>


</header>