<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"  rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>TIENDA ONLINE</h1>
        <div>
            <input type="buscá"> <i class="fas fa-search"></i>
        </div>

        <nav>
            <ul>
                <h3>Hombres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Mujeres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Niños y Niñas</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Colecciones</h3>
                <li>Otoño/Invierno</li>
                <li>Primavera/Verano</li>
                <li>Ofertas</li>
            </ul>

        </nav>

        <div>
            <a href="#">Mi cuenta</a> 
            <a href="#">Regitrate</a>
        </div>
    </header>
    <main>
        <div>
            Acá van las imagenes en carrousel
        </div>

        <section>
            <h2>Promociones</h2>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
        </section>

        <section>
            <h2>Tienda</h2>
            <div>flecha de desplazamiento lateral</div>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
            <div>flecha de desplazamiento lateral</div>
        </section>

        <section>
            <h2>Temporadas</h2>
            <div>flecha de desplazamiento lateral</div>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
            <div>flecha de desplazamiento lateral</div>
        </section>

        <section>
            <div>
                <h2>seguinos</h2>
                <a href="redes">Instagram</a>
                <a href="redes">Facebook</a>
            </div>
            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá simple y segur@</h4>
                <p>Tenés cuotas sin interés con tarjeta. Pagos con debito o MercadoPago. En efectivo enpuntos de pagofacil. </p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Tienda Online tenés envíos gratis en miles de productos. Es un beneficio de Tienda Puntos.</p>
            </div>
        </section>

    </main> 
    <footer>
        <div>
            <h4>Seguinos</h4>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
        </div>
        <div>
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div>
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer>
    
</body>
</html>