<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbutton">
                <i class="fas fa-bars"></i>
            </label>

            <label class="toggle-btn">
                <i class="fas fa-bars" id="toggle-btn"></i>
            </label>

            <label class="logo"><a href="./index.html">EntreCasa</a></label>
            <ul>

                <!-- a class="active" -->
                <!-- COMO MANTENER EL HOVER EN LA PAGINA ELEGIDA?? -->
                <li><a href="./login.html">Mi cuenta</a></li>
                <li><a href="register.html">Registrate</a></li>
                <li><a href="productCart.html">Mis Compras</a></li>

            </ul>

        </nav>

        <div id="sidebar">
            <!-- HAY QUE AGREGAR UNA X QUE CIERRE LA VENTANA.
             USARLO CON QUERYSELECTOR DESDE EL .JS-->
            <div class="xMark">
                <span id="xMark">&#10005</span>
            </div>
            


            <ul>
                <h3>Hombres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Mujeres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Niños y Niñas</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Colecciones</h3>
                <li>Otoño/Invierno</li>
                <li>Primavera/Verano</li>
                <li>Ofertas</li>
            </ul>
        </div>


    </header>

    <!-- <main>
        <div>
            <i class="fas fa-angle-left"></i>
            Acá van las imagenes en carrousel
            <i class="fas fa-angle-right"></i>
        </div>

        <section>
            <h2>Promociones</h2>
            <i class="fas fa-angle-left"></i>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <i class="fas fa-angle-right"></i>
        </section>

        <section>
            <h2>Tienda</h2>
            <div>
                <i class="fas fa-angle-left"></i>
            </div>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <div>
                <i class="fas fa-angle-right"></i>
            </div>
        </section>

        <section>
            <h2>Temporadas</h2>
            <div>
                <i class="fas fa-angle-left"></i>
            </div>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Descripcion del producto</p>
                </div>
            </article>
            <div>
                <i class="fas fa-angle-right"></i>
            </div>
        </section>

        <section>
            <div>
                <h3>Seguinos</h3>
                <a href="redes">Instagram</a>
                <a href="redes">Facebook</a>
                <a href="redes">Twitter</a>
                <a href="redes">TikTok</a>
            </div>
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá simple y segur@</h3>
                <p>Tenés cuotas sin interés con tarjeta. Pagos con debito o MercadoPago. En efectivo enpuntos de
                    pagofacil. </p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Tienda Online tenés envíos gratis en miles de productos. Es un beneficio
                    de Tienda Puntos.</p>
            </div>
        </section>

    </main>
    <footer>
        <div>
            <h4>Seguinos</h4>
            <a href="redes">Instagram</a>
            <a href="redes">Facebook</a>
            <a href="redes">Twitter</a>
            <a href="redes">TikTok</a>
        </div>
        <div>
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div>
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer>  -->

    <script src="/js/menu.js"></script>

</body>

</html>