<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"  rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
<body>
    <header>
        <h1>TIENDA ONLINE</h1>
        <div class="burger-menu">
            <i class="fas fa-bars"></i> 
        </div>
        <div>
            <input type="buscá"> <i class="fas fa-search"></i>
        </div>

        <nav>
            <ul>
                <h3>Hombres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Mujeres</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Niños y Niñas</h3>
                <li>pants</li>
                <li>remeras</li>
                <li>camperas</li>
                <li>accesorios</li>
            </ul>
            <ul>
                <h3>Colecciones</h3>
                <li>Otoño/Invierno</li>
                <li>Primavera/Verano</li>
                <li>Ofertas</li>
            </ul>

        </nav>

        <div>
            <a href="#">Mi cuenta</a> 
            <a href="#">Regitrate</a>
        </div>
        <div>
            <i class="fas fa-cart-arrow-down"></i>
            <a href="">Mis Compras</a>
        </div>
    </header>

    <main>
        <h1>Logeate</h1>
        <div>
            <div>
                <h3>Email</h3>
                <input type="text">
            </div>
            <div>
                <h3>Contraseña</h3>
                <input type="text">
            </div>
            <div>
                <h3>Repetir contraseña</h3>
                <input type="text">
            </div>
        </div>
        <div>
            <input type="button" value="Log in">
        </div>
    </main>

    <footer>
        <div>
            <h4>Seguinos</h4>
            <a href="redes">Instagram</a>
            <a href="redes">Facebook</a>
            <a href="redes">Twitter</a>
            <a href="redes">TikTok</a>
        </div>
        <div>
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div>
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer>
</body>
</html>