<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="css/product-style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbutton">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo" ><a href="./index.html">EntreCasa</a></label>
            <ul>
                <li><a class="active" href="./login.html">Mi cuenta</a></li>
                <li><a href="./register.html">Registrate</a></li>
                <li><a href="productCart.html">Mis Compras</a></li>          
            </ul>

        </nav>


    </header>

<main>
        <div class="general-div">
            <!-- <div class="icon-left"> -->
            <i class="fas fa-angle-left"></i>
            <!-- </div> -->

             <div class="image-div">
                 <img src="images/Pants.jpg" alt="">
             </div>

            <!-- </div class="icon-right"> -->
            <i class="fas fa-angle-right"></i>
            <!-- </div> -->

            <div class="main-detail-div">

                <div class="product-detail-div">
                    <h2>Pant escoses</h2>
                    <p>$3500</p>
                    <p>
                        <i class="fas fa-credit-card"></i> 6 cuotas sin interes "valor por cuota"
                        <i class="fas fa-credit-card"></i> pago con debito "valor"
                        <i class="fas fa-money-bill"></i> 10% efectivo "valor"
                    </p>
                </div>

                <label for="talles">Talles</label>
                    <select name="talles" id="">
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
              
                <label for="cantidad">Cantidad</label>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

            </div>

            <div>
                <div class="product-description-div">
                    <p>
                        Descripcion del producto
                    </p>
                </div>

                <div class="sizes">
                    tabla de talles
                    <img src="" alt="">
                </div>

                <div class="send-cart">
                    Agregar al carrito
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="follow">
        <h2>Seguinos</h2>
        </div>

        <div class="links">
            <a href="redes" class="instagram">Instagram</a>
            <a href="redes" class="facebook">Facebook</a>
            <a href="redes" class="twitter">Twitter</a>
            <a href="redes" class="tiktok">TikTok</a>
        </div>
        <div class="job">
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div class="copyright">
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer>
</body>

</html>