<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="css/styleCart.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbutton">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo" ><a href="./index.html">EntreCasa</a></label>
            <ul>
                <li><a class="active" href="./login.html">Mi cuenta</a></li>
                <li><a href="./register.html">Registrate</a></li>
                <li><a href="productCart.html">Mis Compras</a></li>
                
            </ul>

        </nav>

    </header>

    <main>
        <section class = "product-cart-section">
            <h2>Carrito de compras</h2>
         
            <article class ="product-cart">
                    <img src="/images/buzo.jpg" alt="buzo" class =product-cart-image>
                </div>
                <div class = "product-cart-details">
                    <p class="product-cart-title">Buzo Home Office</p>
                    <p class="price">$5000</p>
                    <div>
                       <label for="cantidad">Cantidad</label>
                       <input type="number" value="1" name="" id="">
                    </div>
                </div>
            </article>
            <article class ="product-cart">
                    <img src="/images/remera negra.jpg" alt="remera-negra" class="product-cart-image">
                </div>
                <div class = "product-cart-details">
                    <p class="product-cart-title">Remera coding</p>
                    <p class ="price">$3000</p>
                    <div>
                       <label for="cantidad">Cantidad</label>
                       <input type="number" value="1" name="" id="">
                    </div>
                </div>
            </article><br>

        </section><br>

        <section class ="delivery-cost-section">
            <p class= "delivery-cost-title" >Costo del envio</p>
            <input type="text">codigo postal
            <input type="button" value="Calcular">
        </section>

        <section class = "total-cost">
            <div>
                <p class ="subtotal">Subtotal</p>
                <p class ="Costo-de-envio">Costo de envio</p>
                <p class ="Total">Total</p>
            </div>
        </section>

        <section class ="purchase-submit">
            <input type="button" value="Finalizar Compra">
            <input type="button" value="Seguir comprando">
        </section>
    
    </main>

    <footer>
        <div>
            <h4>Seguinos</h4>
            <a href="redes">Instagram</a>
            <a href="redes">Facebook</a>
            <a href="redes">Twitter</a>
            <a href="redes">TikTok</a>
        </div>
        <div>
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div>
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer> -->
</body>

</html>