<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link href="css/product-style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbutton">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo" ><a href="./index.html">EntreCasa</a></label>
            <ul>
                <li><a class="active" href="./login.html">Mi cuenta</a></li>
                <li><a href="./register.html">Registrate</a></li>
                <li><a href="productCart.html">Mis Compras</a></li>          
            </ul>

        </nav>


    </header>

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="images/Pants.jpg" width="100%" id="ProductImg">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/Pants.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/Pants.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/Pants.jpg" alt="" width="100%" class="small-img">
                    </div>
                    <div  class="small-img-col">
                        <img src="images/Pants.jpg" alt="" width="100%" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p> Home / Pants</p>
                <h1> Pants </h1>
                <h4>$Precio</h4>
                <select name="" id="">
                    <option value="">Select Size</option>
                    <option value="">XXL</option>
                    <option value="">XL</option>
                    <option value="">L</option>
                    <option value="">M</option>
                    <option value="">S</option>
                    <option value="">XS</option>
                </select>
                <input type="number" value="1" name="" id="">
                <a href="" class="btn">Add to cart</a>
                <h3>Producr details<i class="fa fa-indent"></i> </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro maxime fugit aut voluptate minus id perspiciatis atque, fugiat ea eaque sed iste similique, amet ab deleniti? A odit expedita ea?</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="follow">
        <h2>Seguinos</h2>
        </div>

        <div class="links">
            <a href="redes" class="instagram">Instagram</a>
            <a href="redes" class="facebook">Facebook</a>
            <a href="redes" class="twitter">Twitter</a>
            <a href="redes" class="tiktok">TikTok</a>
        </div>
        <div class="job">
            <h4>Sumate a Nuestro Staff</h4>
        </div>
        <div class="copyright">
            <h4>Copyright © 1999-2022 TiendaOnline S.R.L.</h4>
        </div>
    </footer>
</body>

</html>