footer {
    background-color: black;
    opacity: 0.9;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 200;
    color: white;
    margin-top: 5rem;
    /* position: relative; */
}