main {
    margin-top: 150px;
    text-align: center;
}



.container {
    height: auto;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-size: large;

}

input[type=file]
input[type=email],
input[type=number],
input[type=text],
input[type=password] {
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    background-color: black;
    max-width: 450px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;

}

.google,
.facebook {
    font-size: large;
    width: 150px;
    padding: 0.5rem;
    border-radius: 80px;


}

button:hover {
    opacity: 0.8;
}


.bottom-form {
    margin-top: 9rem;

}

footer {
    position: fixed;
}


@media(min-width: 750px) {
    .container {
        max-width: 500px;
        margin-top: 300px;
    }
}