
main {
    /*margin-top: 150px;*/
    text-align: center;
}

/* body{
    padding-bottom: 15px;
} */


.container {
    height: auto;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-size: large;

}

.container input[type=file],
.container input[type=email],
.container input[type=number],
.container input[type=text],
.container input[type=password],
.container input[list=category],
.container input[list=line],
.container input[type=checkbox]
{
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.color-selection-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.size-selection-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.offer-selection-register{
    display: flex;
    justify-content: space-between;
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.container button {
    background-color: black;
    max-width: 450px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 80px;
}

.text-danger{
    text-align: left;
    padding: 12px 20px;
    color: red;
}

.profile-user-image img{
    border-radius: inherit;
    width: 200px;
    height: 150px;
}


.google,
.facebook {
    font-size: large;
    width: 150px;
    padding: 0.5rem;
    border-radius: 80px;


}

.container button:hover {
    opacity: 0.8;
}


.container .bottom-form {
    margin-top: 9rem;

}



@media(min-width: 750px) {
    .container {
        max-width: 500px;
        /*margin-top: 300px;*/
    }
}