
main {
    /*margin-top: 150px;*/
    text-align: center;
}

/* body{
    padding-bottom: 15px;
} */


.container {
   /*  height: auto; */
    padding: 1rem;
    margin: auto;
   /*  text-align: center; */
    font-size: large;

}

.container input[type=file],
.container input[type=email],
.container input[type=number],
.container input[type=text],
.container input[type=password],
.container select[class=category],
.container input[list=line],
.container select[class=line]{
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.container-edit-user input[type=file],
.container-edit-user[type=email],
.container-edit-user[type=number],
.container-edit-user[type=text],
.container-edit-user[type=password],
.container-edit-user[class=category],
.container-edit-user[list=line],
.container-edit-user[class=line]{
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: red;
}

#error-front-msg-1 p,
#error-front-msg-2 p,
#error-front-msg-3 p,
#error-front-msg-4 p,
#error-front-msg-5 p,
#error-front-msg-6 p,
#error-front-msg-7 p,
#error-front-msg-8 p{
    color: red;
}


.color-selection-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

.size-selection-register{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 1px solid #ccc;
}

.offer-selection-register{
    display: flex;
    justify-content: space-between;
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;

}

.container button {
    background-color: black;
    max-width: 450px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 80px;
    font-size: 20px;

}

.text-danger{
    color: red;
    text-align: left;
    padding: 10px
}

.profile-user-image{
    width: 150px;
    height: 150px;
    border-radius: 750px;
}


#btn-continuar,
#btn-crear {
background-color: white;
color: black;
}


.google,
.facebook {
    font-size: large;
    width: 150px;
    padding: 0.5rem;
    border-radius: 80px;

    


}

.container button:hover {
    opacity: 0.8;
}


.container .bottom-form {
    margin-top: 9rem;

}

.form-field{
    text-align: left;
    font-weight: bold;
    /* padding: 10px; */
    
}

.remember-user{
    text-align: left;
}

.user_img{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

.delete-btn{
    background-color: red;
    max-width: 450px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 80px;
    font-size: 20px;
}


.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);

}


.modal{
    padding-top: 20px;
    width: 30%;
    height: 20%;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%);
}

.confirm-cancel{
    display: flex;
    justify-content: space-evenly;
}

.cancel{
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    background-color:white
}

.delete-product-btn-modal{
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: red;
}

.confirm-msg{
    font-size: large;
    font-weight: bold;
}






@media(min-width: 750px) {
    .container {
        max-width: 500px;
        /*margin-top: 300px;*/
    }
}