* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

/* -----HEADER----- */

nav {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}


label.logo {
    color: white;
    font-size: 2.20rem;
    line-height: 5rem;
    padding: 0, 3em, 0, 2em;
    font-weight: bold;

}

label.logo a {
    color: white;
    padding: 10px;
}

nav ul {
    float: right;
    margin-right: 1.25rem;

}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 0.30rem;
}

nav ul li a {
    color: white;
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

a:hover {
    background-color: #2E920C;
    transition: .5s;
}

.checkbutton {
    font-size: 1.2rem;
    color: white;
    float: right;
    line-height: 5rem;
    margin-right: 2.5rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

a:hover,
a.active {
    background: none;
    color: #2E920C;
}



/* ------------ SEARCH-BAR ------------------ */

.search-box,
.search-box-sidebar {
    right: 3rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1rem;
    left: 65%;
    color: white;
    display: block;
}

.search-box-sidebar {
    top: 1rem;
    left: 5%;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
    color: white;
}

.input-search::placeholder {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: black;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:hover {
    background-color: #2E920C;
    color: white;
}

.btn-search:focus~.input-search {
    color: white;
    position: relative;
    right: auto;
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.search-box-sidebar {
    display: none;
}



/* ---------------- SIDE-BAR ---------------- */

#sidebar {
    position: fixed;
    width: 18rem;
    height: 100%;
    background-color: black;
    left: -18rem;
    z-index: 100;
    transition: all 0.5s;

}

#sidebar.active {
    left: 0;
}

#sidebar ul li,
h3 {
    color: rgb(255, 255, 255, 0.9);
    text-align: center;
    margin: 3px;
    padding: 8px 5px;
    font-size: 20px;
}

#sidebar h3:hover {
    background-color: #2E920C;
    transition: .5s;
}

#sidebar li:hover {
    background-color: #2E920C;
    transition: .5s;
}

#sidebar .xMark {
    text-align: right;
    padding: 5px;
    margin: 3px;
}

#sidebar #xMark {
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.toggle-btn {
    visibility: visible;
    cursor: pointer;
    color: white;
}

.toggle-btn i {
    width: 2.5rem;
    text-align: center;
    font-size: 1.8rem;
    margin-left: 10px;

}





/*  ----------   MEDIA-QUERIES ------------- */


@media(max-width: 750px) {
    .checkbutton {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 5rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
   

    nav ul li {
        
        display: block;
        margin: 3rem 0;
        line-height: 1.8rem;

    }
    

    nav ul li a {
        font-size: 1.25rem;
    }

    a:hover,
    a.active {
        background: none;
        color: #2E920C;
    }

    #check:checked~ul {
        left: 0;
    }

    .toggle-btn {
        visibility: hidden;
    }

    .search-box {
        display: none;
    }

    .search-box-sidebar {
        display: block;
    }


}


@media(max-width:952px) {
    label.logo {
        font-size: 1.8rem;
        padding-left: 3rem;
    }

    nav ul li a {
        font-size: 1rem;

    }

}



/* ------MAIN----- */

main {
    margin-top: 5rem;
}


/* Slider */

/* Slideshow container */
.slideshow-container {
    /* max-height: 1200px
    position: relative; */
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* NUEVA TEMPORADA */



/* titulo de la seccion */
#ofertas,
#nueva-temporada {
    margin-top: 5rem;
    color: black;
    font-size: 25px;
}


.ofertas .products article,
.nueva-temporada .products article {
    padding: 15px;
    margin: 10px;
    text-align: center;
}


.products article img {
    max-width: 428px;
    max-height: 620px;
    min-width: 428px;
    min-height: 620px;
    border-radius: 1cm;
}

/* .ofertas.products article .main-article,
 .nueva-temporada .products article .main-article {
    width: 100%;
    border-top: #ebebeb solid 1px;
    position: relative;

} */

/*  .ofertas .products article .main-article-numbers,
 .nueva-temporada .products article .main-article-numbers {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 5px;
} */

/*  .ofertas .products article .price, 
 .nueva-temporada .products article .price {
    align-self: center;
} */

.ofertas .products article .description,
.nueva-temporada .products article .description {
    font-size: 16px;
    font-weight: normal;
}

.product-list-title {
    color: black;
    font-size: xx-large;
}


.products {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    margin: 5px;
    /* padding-left: 170px; */
    /* lo comenté porque chocaba con el mediaquery.  */
}

.product-list-article {
    border: solid 2px grey;
    text-align: center;
    border-radius: 1cm;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.product-list-article {
    transition: box-shadow 100ms
}

.product-list-article:hover {
    box-shadow: 5px 5px 5px black
}


.add-to-cart i {
    font-size: 30px;
}



.price {
    font-size: 25px;
}

.description {
    font-size: 30px;

}

.update-form-fields {
    color: red
}

.delete-product-btn {
    background-color: red;
}

.back-to-product-list-btn {
    background-color: whitesmoke;
    color: black;
}

@media (min-width: 700px) and (max-width:1199px) {

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    .products article {
        width: 40vw;
    }

    .products article img {
        max-width: 428px;
        max-height: 620px;
        border-radius: 1cm;
    }
}


@media(min-width: 1200px) {

    .products {
        display: flex;
        justify-content: center;

    }
}



/* ------FOOTER----- */

footer {
    background-color: black;
    opacity: 0.9;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    /* bottom: 0; */
    z-index: 200;
    color: white;
    margin-top: 5rem;
    /* position: absolute; */
}

footer .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
}

footer .instagram {
    color: white;
    text-align: center;
    width: 100px;
    padding: 2px;
    margin: 10px;
    border-radius: 15px;
    text-decoration: none;
    transition-duration: 1s;
}

footer .facebook {
    color: white;
    width: 100px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border-radius: 15px;
    text-decoration: none;
    transition-duration: 1s;
}

footer .twitter {
    color: white;
    width: 100px;
    text-align: center;
    padding: 2px;
    margin: 10px;
    border-radius: 15px;
    text-decoration: none;
    transition-duration: 1s;
}

footer .tiktok {
    color: white;
    width: 100px;
    padding: 2px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    /* transition-duration: 2000ms;
    transition-delay: 1000ms; */
    transition: all 3s;

}

i {
    font-size: 25px;
}

.twitter :hover {
    color: #00acee;
    position: relative;
    bottom: 10px;
}

.facebook :hover {
    color: #3b5998;
    position: relative;
    bottom: 10px;
}

.instagram :hover {
    color: #dd2a7b;
    position: relative;
    bottom: 10px;
}

.tiktok :hover {
    color: #ff2a56;
    position: relative;
    bottom: 10px;

}

.job {
    width: 200px;
    height: auto;
    padding: 1px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.copyright {
    text-align: center;
    margin: auto;
}