* {
    box-sizing: border-box;
}


/* ---------------- MAIN PRODUCT CART ---------------- */

body {
    font-family: 'Roboto', sans-serif;
}

main{
    opacity: 90%;
}


.products-cart-section{
    padding: 25px;
    text-align: center;
}

.product-section {
    position: relative;
    top: 100px;
    text-align: center;
}

.product-cart-image{
    position: relative;
    width: 90pX;
    height: 110X;
}

article.product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart-details{
    text-align: justify;
    padding: 10px;
    margin: top -1px;;
  
}

.product-cart-title{
    font-size:20px;
    text-decoration: bold;
}

#q{
    width: 50px;
    border-radius: 10%;
}

#postal-code-calc{
    width: 100px;
}





