* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* -----HEADER----- */

nav {
    background-color: #F1FF64;
    font-weight: bolder;
    height: 5rem;
    width: 100%;
    position: fixed;
}


label.logo {
    color: #000000;
    font-size: 2.20rem;
    line-height: 5rem;
    padding: 0 6.25rem;
    font-weight: bold;
    

    
}

label.logo a {
    color: #000000;
}

nav ul {
    float: right;
    margin-right: 1.25rem;
    
}

nav ul li {
    display: inline-block;
    line-height: 5rem;
    margin: 0 0.30rem;
}

nav ul li a {
    color: #000000;
    font-size: 1.5rem ;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
}

a:hover {
    background-color: #42FE1D;
    transition: .5s;
}

.checkbutton {
    font-size: 1.2rem;
    color: #000000;
    float: right;
    line-height: 5rem;
    margin-right: 2.5rem;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media(max-width:952px) {
    label.logo {
        font-size: 1.8rem;
        padding-left: 3rem;
    }

    nav ul li a {
        font-size: 1rem;

    }
}

@media(max-width: 858px) {
    .checkbutton {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #F1FF64;
        top: 5rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 3rem 0;
        line-height: 1.8rem;

    }

    nav ul li a {
        font-size: 1.25rem;
    }

    a:hover,
    a.active {
        background: none;
        color: #2E920C;
    }

    #check:checked~ul {
        left: 0;
    }
}



/* ------MAIN----- */
/* ------FOOTER----- */