/* ---------------- MAIN PRODUCT CART ---------------- */

 main {
    opacity: 90%;
} 



h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.products-cart-section {
    padding: 25px;
    text-align: center;
    /* max-width: 1400px; */
    

    margin: auto;
    margin-top: 5rem;       
  
}

.product-section {
    position: relative;
    top: 100px;
    text-align: center;    
}

.product-cart-image {
    position: relative;
    width: 90pX;
    height: 110X;
}

article.product-cart {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;  

    
    
    
}

.product-cart-details {
    text-align: justify;
    padding: 10px;
    margin: top -1px;
    border-top: solid 1px black;
  

}

.product-cart-title {
    font-size: 20px;
    text-decoration: bold;
}

#q {
    width: 50px;
    border-radius: 10%;
    text-align: center;
}

#postal-code-calc {
    width: 50%;
}

.delivery-cost-section {
    text-align: center;

    
}

.delivery-cost-section {
    display: flex;
    justify-content: space-around;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    height: 30px;
    border-radius: 2cm;

    
}

/* #postal-code-calc {
    flex-grow: 1;
    width: 100%;
} */

#postal-code-btn {
    /*    position: relative;
    right: 50px; */
    background-color: black;
    color: white;

    padding: 5px;

    cursor: pointer;
    
    font-size: 18px;  
}

#postal-code-calc,
#postal-code-btn {
    border-radius: 2cm
}



.total-cost {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
  
    
}

.subtotal,
.costo-de-envio,
.total {
    display: flex;
    justify-content: space-between;
    padding-top: 1px;

    
}

.total {
    font-size: x-large;

    border-top: solid 1px black;
    
}

.purchase-submit {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.iniciar-compra-btn,
.seguir-comprando-btn {
    /* font-size:large;
    border-radius: 2CM;
    padding: 6PX; */


    background-color: white;
    max-width: 450px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 80px;
    font-size: 20px;
}

.iniciar-compra-btn {
    background-color: black;
    color: whitesmoke;
}

#postal-code-btn:hover,
.iniciar-compra-btn:hover,
.seguir-comprando-btn:hover  {
    opacity: 0.8;
}