* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}


/* ---------------- MAIN PRODUCT CART ---------------- */

body {
    font-family: 'Roboto', sans-serif;
}

main{
    opacity: 90%;
}


.products-cart-section{
    padding: 25px;
    text-align: center;
}

.product-section {
    position: relative;
    top: 100px;
    text-align: center;
}

.product-cart-image{
    position: relative;
    width: 90pX;
    height: 110X;
}

article.product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart-details{
    text-align: justify;
    padding: 10px;
    margin: top -1px;;
  
}

.product-cart-title{
    font-size:20px;
    text-decoration: bold;
}

#q{
    width: 50px;
    border-radius: 10%;
    text-align: center;
}

#postal-code-calc{
    width: 100px;
}

.delivery-cost-section{
    text-align: center;
}
.delivery-cost-section  {
    display: flex;
    justify-content: space-around;
    width: 20%;
    text-align:center;
    margin: 0 auto;
    height: 30px;
    border-radius: 2cm ;
}

#postal-code-calc{
    flex-grow: 1;
    width: 100%;
}

#postal-code-btn{
    padding: 6px;
 /*    position: relative;
    right: 50px; */
}

#postal-code-calc,
#postal-code-btn {
    border-radius:2cm
}



.total-cost{
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.subtotal, .costo-de-envio, .total{
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
}

.total{
    font-size: x-large;
}

.purchase-submit{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.iniciar-compra-btn,
.seguir-comprando-btn{
    /* font-size:large; */
    border-radius:2CM ;
    padding: 6PX;
}

.iniciar-compra-btn{
    background-color: black;
    color: whitesmoke;
}










