<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/all.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/login-style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/footer.css">

</head>


<body>

    <!-- header  -->
    <%- include("../partials/header.ejs") %>
 

    <!-- main -->
        <main>
        <div>

            <!-- <h2>Ingresá con tu cuenta</h2> -->

            <form class="container" action="#" method="post">

                <h1>Login</h1>

                <input type="text" id="username" placeholder="Teléfono,e-mail o usuario" required>

                <input type="password" name="password" id="password" placeholder="Contraseña" required>


                <div><button type="submit" id="btn-continuar">Continuar</button></div>





                <button class="facebook"><i class="fab fa-facebook"></i> Facebook</button>

                <button class="google"><i class="fab fa-google"></i> Google</button>


                <div class='bottom-form'>
                    <a href="#">
                        <h4>Crear una cuenta</h4>
                    </a>

                    <br>

                    <a href="#">
                        <h4>Necesito ayuda para ingresar</h4>
                    </a>
                </div>

            </form>
        </div>



        </main>

        <!-- footer -->

        <%- include("../partials/footer.ejs") %>



</html>