<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include("../partials/head.ejs") %>
    <link href="/css/style.css" rel="stylesheet">
	<link href="/css/login-style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


    <!-- main -->
    <main>
    <form class="container" action="/users/login" method="post" enctype="multipart/form-data">
        <h1>Registro</h1>
        <div>
            <div>
                <input type="text" placeholder="Nombre" name="name">
            </div>

            <div>
                <input type="text" placeholder="Apellido" name="last-name">
            </div>

            <div>
                <input type="text" placeholder="Teléfono" name="phone">
            </div>

            <div>
                <input type="email" placeholder="Email" name="email">
            </div>

            <div>
                <input type="text" placeholder="Direccion" name="adress">
            </div>

            <div>
                <input type="password" placeholder="Contraseña" name="password">
            </div>

            <div>
                <input type="password" placeholder="Repetir contraseña" name = "password-confim">
            </div><br>

            <div>
                <label for="avatar"> Subir foto de perfil</label>
                <br>
                <input type="file" name="image-user" placeholder="Imagen">
            </div> 
        </div>
        <h3>
            <div><button type="submit">Crear Cuenta</button></div> 
        </h3>
        <div>
            <button class="facebook"><i class="fab fa-facebook"></i> Facebook</button>
            <button class="google"><i class="fab fa-google"></i> Google</button>
        </div>
    </form>
        
    </main>


    <!-- footer -->
    <%- include("../partials/footer.ejs") %>
</body>

</html>