<!DOCTYPE html>
<html lang="en">
   
<header>
    <%- include("../partials/head.ejs") %>
    <link href="css/style.css" rel="stylesheet">
	<link href="css/login-style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</header>

<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


    <!-- main -->
    <main>
    <form class="container" action="#" method="post">
        <h1>Registro</h1>
        <div>
            <div>
                <input type="text" placeholder="Nombre Completo">
            </div>
            <div>
                <input type="number" placeholder="Teléfono">
            </div>
            <div>
                <input type="email" placeholder="Email">
            </div>
            <div>
                <input type="password" placeholder="Contraseña">
            </div>
            <div>
                <input type="password" placeholder="Repetir contraseña">
            </div>
        </div>
        <h3>
            <div><button type="submit" id="btn-crear">Crear Cuenta</button></div> 
        </h3>
        <div>
            <button class="facebook"><i class="fab fa-facebook"></i> Facebook</button>
            <button class="google"><i class="fab fa-google"></i> Google</button>
        </div>
    </form>
        
    </main>


    <!-- footer -->
    <%- include("../partials/footer.ejs") %>
</body>

</html>