<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include("../partials/head.ejs") %>
    <link href="/css/style.css" rel="stylesheet">
    <link href="css/styleCart.css" rel="stylesheet">
</head>


<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


    <!-- main -->

    <main class = "products-cart-section">
        <section class = "product-cart-section">
            <h2>Carrito de compras</h2>
            <br>
         
            <article class ="product-cart">
                    <img src="/images/buzo.jpg" alt="buzo" class =product-cart-image>
                </div>
                <div class = "product-cart-details">
                    <p class="product-cart-title">Buzo Home Office</p>
                    <p class="price">$5000</p>
                    <div>
                       <label for="cantidad">Cantidad</label>
                       <input type="number" value="1" name="" id="q">
                    </div>
                </div>
            </article>
            <article class ="product-cart">
                    <img src="/images/remera negra.jpg" alt="remera-negra" class="product-cart-image">
                </div>
                <div class = "product-cart-details">
                    <p class="product-cart-title">Remera coding</p>
                    <p class ="price">$3000</p>
                    <div>
                       <label for="cantidad">Cantidad</label>
                       <input type="number" value="1" name="" id="q">
                    </div>
                </div>
            </article><br>

        </section><br>

        <section class ="delivery-cost-section">
            <p class= "delivery-cost-title" >Costo del envio <i class="fas fa-truck"></i></p>
            <div>
                <input type="text" id="postal-code-calc">Codigo Postal 
                <input type="button" value="Calcular" id="postal-code-btn">
            </div>
           
        </section>

        <section class = "total-cost">
            <div>
                <p class ="subtotal">Subtotal</p>
                <p class ="Costo-de-envio">Costo de envio</p>
                <p class ="Total">Total</p>
            </div>
        </section>

        <section class ="purchase-submit">
            <input type="button" value="Finalizar Compra">
            <input type="button" value="Seguir comprando">
        </section>
    
    </main>


    <!-- footer -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>