<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include("../partials/head.ejs") %>
    <link href="css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="css/styleCart.css" rel="stylesheet">    
</head>


<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


    <!-- main -->

    <main class = "products-cart-section">
        <section class = "product-cart-section">
            <h1>Carrito de compras</h1>
            <br>
         
            <article class ="product-cart">
                    <img src="/images/product-images/noimageproduct.jpg" alt="product-image-cart" class = "product-cart-image">
                </div>
                <div class = "product-cart-details">
                    <p class="product-cart-title">Buzo Home Office</p>
                    <br>
                    <p class="price">$5000</p>
                    <br>
                    <div>
                       <!-- <label for="cantidad">Cantidad</label> -->
                       <input type="number" value="1" name="" id="q" placeholder="Cantidad">
                       <br>
                       <i class="fa-sharp fa-solid fa-trash" style="padding:15px"></i>
                    </div>
                </div>
            </article>

            <br>

            <article class ="product-cart">
                <img src="/images/product-images/noimageproduct.jpg" alt="product-image-cart" class =product-cart-image>
            </div>
            <div class = "product-cart-details">
                <p class="product-cart-title">Buzo Home Office</p>
                <br>
                <p class="price">$5000</p>
                <br>
                <div>
                   <!-- label for="cantidad">Cantidad</label> -->
                   <input type="number" value="1" name="" id="q">
                   <br>
                   <i class="fa-sharp fa-solid fa-trash" style="padding:15px"></i>
                </div>
            </div>
        </article>
 
            </article><br>

        </section><br>

        <section class ="delivery-cost-section">
            <input type="text" id="postal-code-calc" placeholder="  Codigo Postal">
            <input type="button" value="Calcular" id="postal-code-btn"> 
        </section>
        <br>

        <section class = "total-cost">
            <div>
                <div class ="subtotal">
                    <p>Subtotal</p>
                    <p class ="price-subtotal">$5000</p>
                </div>
                <div class ="costo-de-envio">
                    <p>Costo de Envio</p>
                    <p class="cost-calc">$500</p>
                </div>
                
                <br>
                <div class ="total">
                    <p>Total</p>
                    <p class = "total-cart"> $5500</p>
                </div>
                <br>

                <div class ="purchase-submit">
                    <input class="iniciar-compra-btn" type="button" value="Iniciar Compra">
                    <br>
                    <input class = "seguir-comprando-btn" type="button" value="Seguir comprando">
                </div>


            </div>
        </section>

       
    
    </main>


    <!-- footer -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>